@use './mixins' as *;
body {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;

  @include fontStyle(15px, 400, 1px, var(--font-color));
  font-family: 'Domine', serif;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: #ffffff;
}

* {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

:root {
  --font-color: #000;
}
