@use './mixins' as *;
@use './auth_mixin' as *;

.auth-reset__title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .auth-reset__title {
    text-align: center;
    @include fontStyle(50px, 400, 1px, var(--font-color));
  }
  .auth-reset__subtitle {
    @include fontStyle(16px, 400, 1px, var(--font-color));
  }
}

.auth-reset__input-list {
  width: 500px; //!
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @include input-item-style('.auth-reset__item', '.auth-reset__input');
}

.auth-reset__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @include btn-base('.auth-reset__btn', '.auth-reset__btn-title');
  .auth-reset__cancel-text {
    position: relative;
    cursor: pointer;
    @include fontStyle(14px, 400, 1px, #121212d9);
    @include underlineOnHover;
  }
}
