@use '../../auth/style/mixins' as *;
@use './basket-header.scss';
@use './basket-product-list.scss';
@use './basket-total.scss';
.basket {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  gap: 40px;

  .basket-title {
    width: 100%;
    text-align: start;
    @include fontStyle(28px, 600, 1px, #121212d9);
  }
}

.basket-delete-items-btn {
  width: 100%;
  cursor: pointer;
  .basket-delete-items-btn-title {
    @include fontStyle(18px, 400, 1px, #121212d9);
  }
}
