@use '../../auth/style/mixins' as *;

.basket-total-detales__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detales-promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;

  .detales-promo-input__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;

    .promo-input-label {
      @include fontStyle(16px, 600, 1px, #121212d9);
    }

    .promo_input {
      height: 30px;
      padding: 5px;
      @include fontStyle(14px, 600, 1px, #121212d9);
    }
  }

  .detales-promo-btn {
    padding: 7px;
    border: 1px solid #000;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    cursor: pointer;

    .detales-promo-btn-title {
      @include fontStyle(14px, 400, 1px, #ffffff);
    }

    &:hover {
      box-shadow: 0 0 0 1px #000;
    }
  }
}

.total-detales-list {
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  .detales-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
  }
}

.error-message {
  color: rgb(212, 0, 0);
}
