.btn {
  padding: 0.8rem 2rem;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'CenturyOld', serif;
  letter-spacing: 0.05rem;
  border: 1px solid var(--color-black);

  &:hover,
  &:active {
    cursor: pointer;
  }

  @media screen and (max-width: 530px) {
    font-size: 1.3rem;
  }
}

.btn-light {
  background-color: var(--color-background);
  color: var(--color-black);
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active {
    background-color: var(--color-black);
    color: var(--color-background);
  }
}

.btn-dark {
  background-color: var(--color-footer-text);
  color: var(--color-white);
  transition: all 0.3s ease-in-out;

  &:hover,
  &:active {
    transform: scale(1.05);
  }
}

.btn-burger {
  border: none;
  width: 3rem;
  height: 3rem;
  display: none;
  margin-right: 1rem;
  padding: 0;
  position: relative;
  z-index: 15;

  & .span {
    width: 2.4rem;
    height: 1.5px;
    background-color: var(--color-black);
    transition: all 0.3s ease-in-out;
    position: absolute;
  }

  & .span:first-child {
    margin-bottom: 1.2rem;
  }

  &.open .span:first-child {
    margin-bottom: 0;
    transform: rotate(45deg);
  }

  &.open .span:last-child {
    transform: rotate(-45deg);
  }

  @media screen and (max-width: 855px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.btn-product {
  width: 45rem;
  height: 5rem;
  margin: 1rem 0;

  @media screen and (max-width: 1330px) {
    max-width: 35rem;
  }

  @media screen and (max-width: 460px) {
    max-width: 30rem;
  }
}

.btn-arrow-left,
.btn-arrow-right {
  height: 5rem;
  position: absolute;
}

.btn-arrow-right {
  right: 1.5rem;
}

.btn-arrow-left {
  left: 1.5rem;
}

.btn-modal {
  position: absolute;
  top: 3rem;
  right: 3rem;
  z-index: 20;
  user-select: none;

.btn-form-facets {
  border: none;
}

.btn-facet-selector {
  border-radius: 10px;
}
