.header {
  padding: 1.25rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
    padding: 1.25rem 3rem;
  }

  @media screen and (max-width: 530px) {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
}

.header-logo {
  width: 8rem;
}

.header-icon {
  width: 2.2rem;
  height: 2.2rem;
}
