.section-collection {
  padding: 8rem;
}

.section-shop {
  padding: 4rem 8rem;
}

.section-new-items {
  padding: 12rem;
}

.section-house {
  padding: 0 8rem;
  padding-bottom: 4rem;
}

.section-404 {
  padding: 8rem;
}