.text {
  font-size: 1.6rem;
  text-align: center;
}

.collection-text {
  margin-top: 1.5rem;
}

.accent-text {
  font-family: 'Grot12', sans-serif;
  font-size: 2.6rem;
  text-transform: uppercase;
}
