.wrapper {
  display: flex;
}

.wrapper-header,
.wrapper-icons,
.wrapper-collection {
  align-items: center;
  gap: 2rem;
}

.wrapper-icons {
  margin-right: 1rem;
}

.wrapper-shipping {
  height: 4rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 5rem;
}

.wrapper-hero,
.wrapper-banner {
  background: url('./assets/img/main-hero.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 152rem;
  height: 85.5rem;
  padding: 4rem;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.wrapper-collection {
  @media screen and (max-width: 1100px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.wrapper-img {
  width: 44rem;

  @media screen and (max-width: 1100px) {
    width: 50rem;
  }
}

.wrapper-collection-text,
.wrapper-new-items-text,
.wrapper-house-text,
.wrapper-404 {
  flex-direction: column;
  align-items: center;
}

.wrapper-collection-text {
  width: 36rem;
  margin: 4rem;

  @media screen and (max-width: 1100px) {
    width: 50rem;
  }

  @media screen and (max-width: 460px) {
    margin: 4rem 0;
  }
}

.wrapper-shop {
  gap: 4.5rem;
  margin-top: 2rem;
  justify-content: center;

  @media screen and (max-width: 1490px) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: 855px) {
    column-gap: 2rem;
  }
}

.wrapper-shop-img {
  max-width: 33rem;
  position: relative;
}

.wrapper-banner {
  background: url('./assets/img/main-banner.jpg') no-repeat;
  background-size: cover;
}

.wrapper-new-items {
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 855px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.wrapper-new-items-img {
  width: 63.5rem;
}

.wrapper-new-items-text {
  width: 55.5rem;
  text-align: center;
  padding: 4rem;

  @media screen and (max-width: 1330px) {
    padding-left: 8rem;
  }

  @media screen and (max-width: 855px) {
    width: 45.5rem;
    padding: 4rem 0;
  }
}

.wrapper-house {
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 855px) {
    flex-direction: column-reverse;
  }
}

.wrapper-house-text {
  width: 36.5rem;
  padding: 4rem;
  text-align: center;
}

.wrapper-house-img {
  width: 44.5rem;
  height: 55.8rem;

  & .house-img {
    object-fit: cover;
  }

  @media screen and (max-width: 460px) {
    width: 35rem;
  }

  @media screen and (max-width: 360px) {
    width: 30rem;
  }
}

.wrapper-footer-item {
  flex-direction: column;
  align-items: flex-start;
  width: 32.5rem;

  @media screen and (max-width: 650px) {
    max-width: 25rem;
  }
}

.wrapper-404 {
  gap: 2rem;
}

.wrapper-slider {
  align-items: center;
  position: relative;
}

.wrapper-product {
  gap: 8rem;

  @media screen and (max-width: 1330px) {
    gap: 5rem;
  }

  @media screen and (max-width: 930px) {
    flex-direction: column;
    align-items: center;
  }
}

.wrapper-product-img {
  width: 69rem;
  height: 83rem;
  overflow: hidden;

  @media screen and (max-width: 930px) {
    max-width: 45rem;
    height: 100%;
  }
}

.wrapper-product-info {
  width: 60rem;
  flex-direction: column;
}

.wrapper-add-button {
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1490px) {
    flex-direction: column;
  }

  @media screen and (max-width: 650px) {
    margin: 0 auto;
    align-items: center;
    max-width: 50rem;
  }
}

.wrapper-product-text {
  flex-direction: column;

  @media screen and (max-width: 650px) {
    margin: 0 auto;
    align-items: center;
    max-width: 50rem;
  }
}

.wrapper-product-text::before {
  content: "";
  width: 100%;
  border-bottom: solid 1px #e3e1da;
}
